
.shoping-cart{
    padding: 5px;
    border: 1px solid purple;
    margin: 10px;
    display: flex;
    align-items: center;
}
.shoping img{
    width:80px;
    height: 80px;

}
.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    align-items: center;
}
.details p{
    margin: 0;
}
.btn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(198, 126, 126);
    border: none;
}
.icon{
    font-size: 31px;
    color: orange;
}
